/* Загрузка шрифтов */
@font-face {
    font-family: 'Bitter';
    src: local('Bitter'),
        url('/font/Bitter/Bitter.woff2') format('woff2'),
        url('/font/Bitter/Bitter.woff') format('woff'),
        url('/font/Bitter/Bitter.svg') format('svg');
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: local('PlayfairDisplay'),
        url('/font/Playfair_Display/PlayfairDisplay.woff2') format('woff2'),
        url('/font/Playfair_Display/PlayfairDisplay.woff') format('woff'),
        url('/font/Playfair_Display/PlayfairDisplay.svg') format('svg');
}

body {
    line-height: 1.2;
    box-sizing: border-box;
}

h1, .subtitle-biography, .title-strengst {
    font-family: 'PlayfairDisplay', 'Times New Roman', Times, serif;
    font-style: normal;
}

h2, .description-biography, .list-skills, h3, .list-designer-description, .link-testimonials, .description-hero {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;    
}

.text-biography, .text-testimonials, .list-strengts {
    font-family: 'Bitter', 'Times New Roman', Times, serif;
    font-style: normal;
}

/* Кнопка навигации и главный заголовок начало */
.wrapper-nav {
    width: 100%;
    height: 135px;
    margin: 0 auto;
}
nav {
    background-color: white;
}

.header-menu-button {
    background-color: white;
    border: none;
    margin-top: 5.5%;
    margin-bottom: 5.5%;
    margin-left: 48.819%;
}

.wrapper-header {
    max-width: 1065px;
    height: 630px;
    margin: 0 auto;

}

.hero {
    position: relative;
    background-image: url(../images/bg-header.jpg);
    margin: 0 auto;
    height: 100%;
}

.hero-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 56.338%;
    height: 57.143%;
    text-align: center;
}

h1 {
    font-weight: 500;
    font-size: 5.375em;
    text-align: center;
    margin-top: 18.533%;
    margin-bottom: 0;
    margin-left: 1.033%;
}

.description-hero {
    font-weight: 500;
    font-size: 1.25em;
    text-align: center;
    margin-top: 2.333%;
    margin-left: 1.033%;
    margin-bottom: 18.333%;
}
/* Кнопка навигации и главный заголовок конец */

/*Секция Biography используем flex начало*/
.wrapper-biography {
    max-width: 1175px;
    max-height: 840px;
    margin: auto;
}

.biography {
    margin-top: 11.5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    row-gap: 1rem;
}

.image-biography {
    order: 0;
    flex-basis: 100%;
    width: 47.064%;
    margin-top: 7.6%;
}

.title-biography {
    display: inline-block;
    transform: rotate(-90deg) translate(0, -115px);
    order: 1;
    width: 1.957%;
    margin-top: 13.6%;
}

.subtitle-biography {
    order: 2;
    line-height: 1.333;
    width: 40.426%;
    padding-top: 3%;
}

.description-biography {
    order: 3;
    width: 40.426%;
    margin-top: 0.75%;
    margin-bottom: -1.5%;
}

.list-skills {
    order: 4;
    list-style: none;
    width: 40.426%;
    margin: 0 0 5.5% 0;
    padding: 1px;
}

.skill {    
    display: inline-block;
}

.skill::after {
    content: ' / ';
}

.skill:last-child::after {
    content: '';
}

.text-biography::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    display: block;
    width: 14px;
    height: 4px;
    background-color: black;
}

.text-biography {
    position: relative;
    order: 5;
    width: 38.213%;
}
/*Секция Biography используем flex конец*/

h2 {
    font-weight: 700;
    font-size: 1.25em;
}

.subtitle-biography, .title-strengst {
    font-weight: 500;
    font-size: 5.375em;
    margin: 0;
}

.description-biography, .list-skills {
    font-weight: 500;
    font-size: 1.125em;
}

.text-biography {
    font-weight: 400;
    font-size: 1.625em;
    margin: 0;
}

h3 {
    font-weight: 700;
    font-size: 1em;
}
/*Секция Designers начало*/
.wrapper-designers {
    max-width: 1337px;
    margin: 16.5% auto 0 auto;
    overflow-x: auto;
}

.designers {
    display: grid;
    grid-template-columns: repeat(4, minmax(320px, 1fr));
    grid-template-rows: 15% 85%;
    grid-auto-columns: 320px;
    column-gap: 25px;
}

.title-designers {
    display: inline-block;
    transform: rotate(-90deg) translate(43.5%, 0);
    grid-row: 1;
    grid-column: 3 / 5;
}

.container-designer {
    display: flex;
    row-gap: 23.5px;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: span 1;
}

.image-designer {
    object-fit: contain;
    width: fit-content;
}

.image-designer-stretched {
    grid-row: 1 / 3;
    grid-column: span 2;
    margin-left: 2%;
}

.image-designer-stretched > .designer-description {
    align-self: center;
    margin-left: 36.5%;
}

.subtitle-designers {
    margin: 0;
    padding: 0;
}

.list-designer-description {
    font-weight: 400;
    font-size: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
 }

.item-list-designer {
    display: inline-block;
}

.item-list-designer::after {
    content: ' / ';
}

.item-list-designer:last-child::after {
    content: '';
}

.item-list-designer:first-child::after {
    content: '';
}
/*Секция Designers конец*/

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

 address {
    font-weight: 400;
    font-size: 1em;
 }

 .comment-katya-2 {
    font-weight: 400;
    font-size: 2em;
    text-align: center;
 }

 .list-strengts {
    list-style: none;
    font-weight: 400;
    font-size: 2.125em;
 }