/* Загрузка шрифтов */
@font-face {
    font-family: 'Bitter';
    src: local('Bitter'),
        url('/font/Bitter/Bitter.woff2') format('woff2'),
        url('/font/Bitter/Bitter.woff') format('woff'),
        url('/font/Bitter/Bitter.svg') format('svg');
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: local('PlayfairDisplay'),
        url('/font/Playfair_Display/PlayfairDisplay.woff2') format('woff2'),
        url('/font/Playfair_Display/PlayfairDisplay.woff') format('woff'),
        url('/font/Playfair_Display/PlayfairDisplay.svg') format('svg');
}

body {
    margin: 0 auto;
    box-sizing: border-box;
}

h1, h4 {
    font-family: 'PlayfairDisplay', 'Times New Roman', Times, serif;
    font-style: normal;
}

h2, h3, .skills-katya, h5, .about, address, .description-hero {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;    
}

.comment-katya, .comment-katya-2, .list-strengts {
    font-family: 'Bitter', 'Times New Roman', Times, serif;
    font-style: normal;
}

/* Кнопка навигации и главный заголовок начало */
.wrapper-nav {
    width: 100%;
    height: 135px;
    margin: 0 auto;
}
nav {
    background-color: white;
}

.header-menu-button {
    background-color: white;
    border: none;
    margin-top: 5.5%;
    margin-bottom: 5.5%;
    margin-left: 48.819%;
}

.wrapper-header {
    max-width: 1065px;
    height: 630px;
    margin: 0 auto;

}

.hero {
    position: relative;
    background-image: url(../images/inside-weather-Uxqlfigh6oE-unsplash1.jpg);
    margin: 0 auto;
    height: 100%;
}

.hero-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 56.338%;
    height: 57.143%;
    text-align: center;
}

h1 {
    line-height: 1.2;
    font-weight: 500;
    font-size: 5.375em;
    text-align: center;
    margin-top: 18.533%;
    margin-bottom: 0;
    margin-left: 1.033%;
}

.description-hero {
    line-height: 1.15;
    font-weight: 500;
    font-size: 1.25em;
    text-align: center;
    margin-top: 2.333%;
    margin-left: 1.033%;
    margin-bottom: 18.333%;
}
/* Кнопка навигации и главный заголовок конец */

/*Секция Biography используем flex начало*/
.wrapper-biography {
    max-width: 1175px;
    max-height: 840px;
    margin: 0 auto;
}

.biography {
    margin-top: 11.5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1px;
}

.bio-pic {
    order: 0;
    flex-basis: 100%;
    width: 47.064%;
    margin: 0;
    margin-left: 0.5%;
    margin-top: 7.6%;
}

.header-biography {
    transform: rotate(-90deg);
    order: 1;
    flex-basis: 10.952%;
    width: 1.957%;
    margin-top: 13.6%;
    margin-left: 2.917%;
}

.katya-mills {
    order: 2;
    margin-top: 4.3%;
    margin-left: 12.611%;
    line-height: 1.333;
    width: 40.426%;
    flex-basis: 27.381%;
}

.skills-katya {
    order: 3;
    width: 40.426%;
    flex-basis: 5%;
    margin-top: 2.122%;
    margin-left: 12.611%;
}

.sep-pic {
    order: 4;
    margin-top: 3.678%;
    margin-left: 12.611%;
    width: 1.191%;
    flex-basis: 0.476%;
}

blockquote {
    order: 5;
    width: 38.213%;
    flex-basis: 14.762%;
    margin-top: 1.511%;
    margin-left: 12.440%;
}
/*Секция Biography используем flex конец*/

/*Секция Testimonials используем grid начало*/
.wrapper-testimonials {
    max-width: 1440px;
    max-height: 813px;
    margin-top: 17.917%;
    margin-left: 4.5%;
}

.testimonials {
    display: grid;
    grid-template-columns: 9.167% 3.125% 32.639% 12.951% 15.347% 12.813%;
    grid-template-rows: 6.888% repeat(3, 32.964%);
}

.header-testimonials {
    grid-column: 1 / 3;
    place-self: end;
    line-height: 1.15;
    margin-bottom: 19%;
}

.item1 {
    grid-area: 2 / 1 / span 1 / span 1;
    transform: rotate(-90deg);
    place-self: center start;
    margin-top: 55%;
}

.item2 {
    grid-area: 3 / 1 / span 1 / span 1;
    transform: rotate(-90deg);
    place-self: center start;
    margin-top: -10%;
}

.item3 {
    grid-area: 4 / 1 / span 1 / span 1;
    transform: rotate(-90deg);
    place-self: center start;
    margin-top: -67%;
}

.test-pic {
    grid-column: 2 / 3;
    grid-row: 2 / 5;
}

.item4 {
    grid-column: 5 / 6;
    grid-row: 2 / 5;
    margin-top: 5%;
}
/*Секция Testimonials используем grid конец*/

h2 {
   text-align: center; 
   font-weight: 500;
   font-size: 1.25em;
}

h3 {
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1.15;
}

h4 {
    font-weight: 500;
    font-size: 5.375em;
    margin: 0;
}

.skills-katya {
    line-height: 1.17;
    font-weight: 500;
    font-size: 1.125em;
}

.comment-katya {
    line-height: 1.19;
    font-weight: 400;
    font-size: 1.625em;
    margin: 0;
}

h5 {
    line-height: 1.19;
    font-weight: 700;
    font-size: 1em;
    margin: 0;
}

 .about {
    line-height: 1.19;
    font-weight: 400;
    font-size: 1em;
 }

 .capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

address {
    line-height: 1.19;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
 }

 .comment-katya-2 {
    line-height: 1.19;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
 }

 .list-strengts {
    line-height: 1.21;
    list-style: none;
    font-weight: 400;
    font-size: 2.125em;
 }