/* Загрузка шрифтов */
@font-face {
    font-family: 'Bitter';
    src: local('Bitter'),
        url('../font/Bitter/Bitter.woff2') format('woff2'),
        url('../font/Bitter/Bitter.woff') format('woff'),
        url('../font/Bitter/Bitter.svg') format('svg');
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: local('PlayfairDisplay'),
        url('../font/Playfair_Display/PlayfairDisplay.woff2') format('woff2'),
        url('../font/Playfair_Display/PlayfairDisplay.woff') format('woff'),
        url('../font/Playfair_Display/PlayfairDisplay.svg') format('svg');
}

html, body {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    line-height: 1.2;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Кнопка навигации и главный заголовок начало */
nav {
    margin: 60px 0;
    background-color: white;
    text-align: center;
}

.header-menu-button {
    background-color: white;
    border: none;
}

.hero {
    position: relative;
    background-image: url(../images/inside-weather-Uxqlfigh6oE-unsplash1.jpg);
    width: 73.958%;
    height: 630px;
    margin: 0 auto;
}

.hero-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 56.338%;
    height: 57.143%;
    text-align: center;
}

h1 {
    font-family: 'PlayfairDisplay', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 5.375em;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 0;
    margin-left: 20px;
}

.description-hero {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25em;
    text-align: center;
    margin-top: 14px;
    margin-left: 21.5px;
}
/* Кнопка навигации и главный заголовок конец */

h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25em;
    text-align: center;
}

h3 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25em;
}

h4 {
    font-family: 'PlayfairDisplay', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 5.375em;
}

.skills-katya {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.625em;
}

.comment-katya {
    font-family: 'Bitter', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.625em;
}

h5 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
}

 .about {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
 }

 h5 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    text-transform: capitalize;
 }

 address {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
 }

 .comment-katya-2 {
    font-family: 'Bitter', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
 }

 .list-strengts {
    list-style: none;
    font-family: 'Bitter', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.125em;
 }